# --- SECURITY & SECRETS ---
.env
.env.local
.env.*.local
frontend/.env
backend/.env

# --- DEPENDENCIES & BUILD ---
node_modules/
dist/
build/
.vercel/
package-lock.json


# --- LOGS, CACHES & DEBUGGING ---
*.log
debug-*.log
build-log.txt
npm-debug.log*
yarn-debug.log*
.eslintcache
.parcel-cache
.turbo/

# --- PROJECT SCRATCH & TEMPORARY ---
tmp/
_ul/
screenshots/
backend/*.txt
backend/*.log
frontend/*.log



# --- OS & EDITOR SPECIFIC ---
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
